
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.clamvas
{
    background: var(--col1);
    width: 100%;
    height: 100%;
}

.drawCanvas{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /* Older browser compatibility */
    /* -moz-crisp-edges;
    -webkit-optimize-contrast;
    -o-crisp-edges;
    optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor; */
}
